// Icons
//
// Includes all the public mixins and helper functions.
// These globally-available tools should make our development flow easier.
//
// Weight: 2
//
// Styleguide: Components.Icons

// ==========================================================================
// Icons
// ==========================================================================

// Logo

.site-logo {
	align-self: flex-end;
	order: 2;
	height: 65px;
  display: block;
	img{
		max-height: $menu-height;
		height: 100%;
		float: right;
		width: auto;
		margin: 0;
	}
	/* @include breakpoint(small){
		margin: 0px;
		order: 0;
		align-self: center;
		img{
			float: none;
		}
	} */
}

// UI

.icn {

	// Nav Toggle
	@include m(nav-toggle) {
		//@extend %icn--ui;
		width: 25px;
		height: 17px;
		border-top: solid 3px palette(grey);
		border-bottom: solid 3px palette(grey);
		position: relative;
		display: block;
		@include p-el(before, 25px, 3px) {
			background: palette(grey);
			top: 4px;
		}
	
		// @include breakpoint(small){
		// 	align-self: flex-end;
		// 	margin: em(15px);
		// 	float: right;
		// }
	}
	@include m(flag-gb){
		height:em(16px); 
		width:em(16px); 
		background-image:url('#{$path--rel}/gb.svg'); 
		background-size:contain; 
		background-repeat:no-repeat; 
		margin-left: em(5px); 
		display: inline-block;
	}
	@include m(flag-dk){
		height:em(16px); 
		width:em(16px); 
		background-image:url('#{$path--rel}/dk.svg'); 
		background-size:contain; 
		background-repeat:no-repeat; 
		margin-left: em(5px); 
		display: inline-block;
	}
}
