// ==========================================================================
// Placeholders
// ==========================================================================
// Headlines

%hdln-prim {
  color: palette(grey, x-dark);
  font-weight: $font-weight--light;
  font-size: rem(63px);
  line-height: (46px/42px);
  margin-top: 0;
}
%hdln-sec {
  color: palette(grey, light);
  letter-spacing: $letter-space;
  font-weight: $font-weight--thin;
  font-size: rem(24px);
  font-family: $font-family--secondary;
}
// Panel


%panel-default {
  box-shadow: $panel-boxShadow;
  padding-top: em(30px);
  @include media-breakpoint-up(md) {
    padding-bottom: em(20px);
  }
}

%panel-padding {
  padding-top: em(34px);
  @include media-breakpoint-up(md) {
    padding-top: em(80px);
    padding-bottom: em(34px);
  }
}
%panel-padding-all {
  padding-top: em(34px);
  @include media-breakpoint-up(md) {
    padding: em(34px);
  }
}

//
%blockquotes{
  p{
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-style: italic;
    &:before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    &:after {
      color: #ccc;
      content: close-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
  }
}
