// Footer
//
// Includes all the public mixins and helper functions.
// These globally-available tools should make our development flow easier.
//
// Weight: 4
//
// Styleguide: Layout.Footer


// ==========================================================================
// FOOTER UI KIT
// ==========================================================================
.main-footer{
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
}