// Headlines
//
// Includes all the public mixins and helper functions.
// These globally-available tools should make our development flow easier.
//
// Markup: html/headlines.html
//
// Weight: 2
//
// Styleguide: Components.Headlines

// ==========================================================================
// Headlines
// ==========================================================================

.headline {
    margin-bottom: 0px;
    font-weight: 900;
    font-size: 24px;
    font-size: 1.5rem;
    color: #616161;
	&-primary {
		@extend %hdln-prim;
		margin-bottom: em(70px, 42px);

		@include m(grouped) {
			@extend %hdln-prim;
			margin-bottom: 0;
		}
	}

 	&-secondary {
		@extend %hdln-sec;
		margin-bottom: em(22px, 24px);

		@include m(grouped) {
			@extend %hdln-sec;
			margin-top: em(10px, 24px);
	 		margin-bottom: em(54px, 24px);
		}		
	}
	&-hero{

		h1{
			letter-spacing: $letter-space;
			font-weight: $font-weight--thin;
			font-size: em(48px);
			font-family: $font-family--secondary;
			color: $white;
			text-transform:uppercase;
		;
		}
		h2{
			letter-spacing: $letter-space;
			font-weight: $font-weight--medium;
			font-size: em(24px);
			font-family: $font-family--secondary;
			color: $white;
		}
		margin-bottom: 0;
	}
	&-break{
		line-height: em(20px);
		text-transform: uppercase;
		text-align: center;
		border-top: 1px solid palette(grey, x-light);
	;
		margin-top: em(48px);
		margin-bottom: em(5px);
		font-size: rem(34px);
		span{
			position: relative;
			padding: 0 10px;
			top: -26px;
			background: #ffffff;
			letter-spacing: -0.01em;
			line-height: 3.4rem;
		}
	}
	&-dashboard{
		font-size: rem(18px);
	}

}

// ==========================================================================
// Headline UI KIT
// ==========================================================================

.ruled{
  text-align: center;
	position: relative;
	z-index: 1;
	overflow: hidden;
	
	margin-left: auto;
	margin-right: auto;
	&:before, :after {
	position: absolute;
	top: 51%;
	overflow: hidden;
	width: 50%;
	height: 1px;
	content: '';
	background-color: palette(grey,xx-light);
	}
	&:before {
    margin-left: -53%;
    text-align: right;
	}
	&:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '';
		margin-left: 3%;
			background-color: palette(grey,xx-light);
	}
}