// Wrapper
//
// Includes all the public mixins and helper functions.
// These globally-available tools should make our development flow easier.
//
// Markup (define the markup to be used in your styleguide):
// <div class="main-container">main-container</<div>
//
// Weight: 4
//
// Styleguide: Layout.Wrapper

// ==========================================================================
// Wrapper UI KIT
// ==========================================================================

.main-container{
  max-width: 80%;
  margin: auto;
  margin-top: $header-height;
  margin-bottom: $footer-height;
  overflow: hidden;
}

.example-container {
  @include make-container();
  background: teal;
}

.example-row {
  @include make-row();
}

.example-content-main {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }
}

.example-content-secondary {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
}